<%= content_tag :div, id: "output-buttons" do %>
  <% if @portfolio.pdf_enabled? %>
    <div id='pdf-button'><%= link_to "<i class='fa fa-file-text-o'></i> .pdf".html_safe, portfolio_path(@portfolio) + '.pdf' %></div>
  <% end %>

  <% if @portfolio.rss_enabled? %>
    <div id='rss-button'><%= link_to "<i class='fa fa-rss'></i> .rss".html_safe, portfolio_path(@portfolio) + '.rss' %></div>
  <% end %>
<% end %>